body {
  color: #FFF;
  background-color: hsl(257, 40%, 49%);
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
/* Main */

.landing-page {
  max-height: 100vh;
}

/* Logo */

.logo-container {
  width: 100vw;
}

.brand {
  height: auto;
  margin-left: 6.5%;
  padding: 8% 0 0 7%;
  position: absolute;
}

.huddle-logo {
  width: 32vw;
  height: auto;
}

/* background */

.background-image {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.desktop-bg {
  display: none;
}

.background-svg {
  width: 100vw;
  height: auto;
}

/* Background image  */
#browser-image-container {
  position: relative;
}

.browser-image-background {
  bottom: 9.4%;
  height: auto;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80vw;
}

.browser-image-background img {
  width: 80vw;
}

/* Title */

#title {
  font-family: "Poppins" , sans-serif;
  text-align: center;
}

#title h1 {
  font-size: 1.15rem;
  line-height: 1.6;
  font-weight: 600;
  padding: 7% 18% 1%;
}

/* Sub headings */

.user-message-container {
  padding: 0 8%;
  font-family: "poppins" , sans-serif;
  text-align: center;
}

.user-message-container h2 {
  font-size: 13px;
  line-height: 1.8;
}

/* Buttons */

#buttons {
  padding: 3% 0 10% 0;
}

.button-container {
  margin: 0 auto;
  text-align: center;
}

.button-container button {
  color: hsl(257, 40%, 49%);
  font-family: "Poppins" , sans-serif;
  width: 57%;
  border-radius: 1.5rem;
  font-size: .67rem;
  padding: 2.5%;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.38);

}


/* Social Media */

.social-container {
  text-align: center;
  padding-top: 1.18rem;
}

.social-container i {
  border: 1px solid #FFF;
  border-radius: 100%;
  font-size: 3vw;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 1% 1.1%;
  padding: 2% 1% 5% 1%;
  width: 7%;
  height: 7vw;
}

.social-container i:hover {
  color: hsl(300, 69%, 71%) ;
}
/* Footer */

.footing {
height: 4%;
margin: 5%;
}

.attribution {
  font-size: 0.7rem;
  margin: 0;
}

.attribution a {
  text-decoration: none;
  color: #FFF;
}

.attribution a:hover {
  color: teal;
}

/* Media Queries */

@media screen and (min-width: 321px) and (max-width: 375px) {
  #title h1 {
    padding: 2% 11% 1%;
  }

  #buttons {
    padding: 3% 0 8% 0;
  }

  .footing {
    height: 4%;
    overflow: hidden;
    margin: 1%;
    text-align: center;
  }

.social-container {
  padding-top: .5rem;
}

}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .footing{
    position:relative;
    bottom: 20rem;
  }

  #buttons {
    padding: 2% 0 0 0 ;
  }

  .social-container {
    padding-top: 1rem;
  }

  #title h1 {
    padding: 0% 10% 1%;
  }
}

@media screen and (min-width:1024px) and (max-width: 1440px){
  /* Background */

.desktop-arrangement {
  left: 56.4%;
  top: 10.8rem;
  width: 41%;
  text-align: left;
  position: relative;
}

#browser-image-container {
  position: absolute;
}

  .browser-image-background {
  bottom: 14.19%;
  right: -1%;
  width: 80vw;
}

.browser-image-background img {
  width: 47.5vw;
  height: 42vw;
}

  .background-svg {
    display: none;
  }

.background-image {
  height: 69vw;
  width: 89vw;
  overflow: hidden;
}

  .desktop-bg {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  }

  .desktop-bg img {
    width: 100vw;
    display: grid;
    position: absolute;
  }

  /* Logo */

  .brand {
    margin-left: -2.5%;
    padding-top: 3%;
  }

  .huddle-logo {
    width: 14vw;
    height: auto;
  }

  /* Title  */
  #title h1 {
    font-size: 1.67rem;
    margin-right: 2%;
    text-align: left;
    padding: 8.8% 23% 1% 1%;
    line-height: 2;
  }

  .user-message-container {
    padding: 1% 5% 0 0%;
    text-align: left;
  }

  .user-message-container h2 {
    font-size: .73rem;
    line-height: 1.9;
  }

    /* Buttons */

  #buttons {
    padding: 2% 0 10% 0;
  }

  .button-container {
    margin: 0;
  }

  .button-container button {
    width: 33%;
  }

/* Social container */

.social-container {
  text-align: right !important;
  padding-top: 3.9rem;
  padding-right: 4%;
}

.social-container i {
    border-radius: 100%;
    font-size: 1.6vw;
    /* line-height: 1.5; */
    /* letter-spacing: -7px; */
    margin: 0% 1%;
    padding: 2% 1% 2% 1%;
    /* width: 51%; */
    height: 3.2vw;
    text-align: center;
    width: 8.5%;
}

/* Footing */

.footing {
  padding: 1% 0% 0% 21%;
  margin: 0;
}

.attribution {
  font-size: inherit;
}

#footer {
    position: absolute;
    bottom: 25%;
    right: 46%;
    width: 200vw;
}

}

@media screen and (min-width: 1440px) and (max-width: 2560px) {

/* Logo */
.brand {
  margin-left: -2.2%;
  padding: 4.8% 0 0 7%;
}

.huddle-logo {
  width: 15vw;
}

/* Background */

.background-svg {
  display: none;
}

.desktop-bg {
  display: block;
}

.background-image {
  height: 100vh;
  width: 91vw;
}

#browser-image-container {
  position: absolute;
}

.browser-image-background {
  bottom: 14.4%;
  width: 81vw;
}

.browser-image-background img {
  width: 48.5vw;
  height: 61vh;
}

/* Headings */

#title h1 {
  font-size: 2.15rem;
  padding: 7% 30% 0% 0;
}

.desktop-arrangement {
  left: 56.4%;
  top: 10rem;
  width: 43%;
  text-align: left;
  position: relative;
}

/* Sub Headings */

.user-message-container {
  padding: 0.2% 9% 0 0;
}

.user-message-container h2 {
  font-size: 0.99rem;
  line-height: 1.7;
}

/* Buttons  */

#buttons {
  padding: 0.5% 0 0 0;
}

.button-container {
  margin: 0;
}

.button-container button {
  font-size: inherit;
  width: 27%;
  padding: 1.6%
}

/* Social media  */

.social-container {
  padding-top: 10.6rem;
  padding-left: 22.5%;
}

.social-container i {
  height: 2vw;
  font-size: 1.2vw;
  padding: 0% 3% 0 3%;
  margin: 0 1.5%;
  line-height: 1.5;
  width: 2.2vw;
}

/* Credit */

.attribution {
  font-size: inherit;

}

#footer {
  position: absolute;
  bottom: 25%;
  right: 46%;
  width: 200vw;
}

}
